* {
    font-family: sans-serif;
}

.logo {
    width: 180px;
}

.menuBar {
    width: 27px;
}

.one {
    display: flex;
    width: 12%;
    justify-content: space-between;
}

.mic {
    width: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 55px;
}

.three {
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.three img {
    width: 30px;
}

.two {
    display: flex;
    width: 50%;
    align-items: center;
}

input {
    width: 90%;
    height: 60%;
}

.two button {
    height: 70%;
    width: 9%;
    margin-right: 15px;
}

aside {
    width: 200px;
    font-size: 14px;
    float: left;
}

aside div {
    display: flex;
}

aside img {
    width: 30px;
    margin-right: 20px;
}

aside h1 {
    font-weight: 100;
    font-size: 110%;
}

nav {
    margin-left: 230px;
    display: flex;
    justify-content: space-between;
}

nav button {
    border: none;
    border-radius: 5px;
    padding: 10px;
}

nav img {
    margin-left: 10px;
}




